<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.projectv4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckLotteryActivity"
            android:parentActivityName=".SeenPrizeActivity" />
        <activity
            android:name=".SeenPrizeActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ModeSimulation.ModeSimulationActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".ModePurchase.ModePurchaseActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity
            android:name=".ModeSimulation.AddLotteryToSimulationActivity"
            android:parentActivityName=".ModeSimulation.AddLotteryToSimulationActivity" />

        <activity android:name=".ModeSimulation.SimulationStaticActivity" />
        <activity android:name=".ModePurchase.AddLotteryToPurchaseActivity" />
        <activity android:name=".ModePurchase.PurchaseStaticActivity"></activity>
    </application>

</manifest>